blockquote {
  border-left: 3px solid #1e73be;
}
.spacious-button,
input[type="reset"],
input[type="button"],
input[type="submit"],
button {
  background-color: #1e73be;
}
.previous a:hover,
.next a:hover {
  color: #1e73be;
}
a {
  color: #1e73be;
}
#site-title a:hover {
  color: #1e73be;
}
.main-navigation ul li.current_page_item a,
.main-navigation ul li:hover > a {
  color: #1e73be;
}
.main-navigation ul li ul {
  border-top: 1px solid #1e73be;
}
.main-navigation ul li ul li a:hover,
.main-navigation ul li ul li:hover > a,
.main-navigation ul li.current-menu-item ul li a:hover {
  color: #1e73be;
}
.site-header .menu-toggle:hover {
  background: #1e73be;
}
.main-small-navigation li:hover {
  background: #1e73be;
}
.main-small-navigation ul > .current_page_item,
.main-small-navigation ul > .current-menu-item {
  background: #1e73be;
}
.main-navigation a:hover,
.main-navigation ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor a,
.main-navigation ul li.current-menu-ancestor a,
.main-navigation ul li.current_page_item a,
.main-navigation ul li:hover > a {
  color: #1e73be;
}
.small-menu a:hover,
.small-menu ul li.current-menu-item a,
.small-menu ul li.current_page_ancestor a,
.small-menu ul li.current-menu-ancestor a,
.small-menu ul li.current_page_item a,
.small-menu ul li:hover > a {
  color: #1e73be;
}
#featured-slider .slider-read-more-button {
  background-color: #1e73be;
}
#controllers a:hover,
#controllers a.active {
  background-color: #1e73be;
  color: #1e73be;
}
.breadcrumb a:hover {
  color: #1e73be;
}
.tg-one-half .widget-title a:hover,
.tg-one-third .widget-title a:hover,
.tg-one-fourth .widget-title a:hover {
  color: #1e73be;
}
.pagination span {
  background-color: #1e73be;
}
.pagination a span:hover {
  color: #1e73be;
  border-color: .#1e73be;
}
.widget_testimonial .testimonial-post {
  border-color: #1e73be #eaeaea #eaeaea #eaeaea;
}
.call-to-action-content-wrapper {
  border-color: #eaeaea #eaeaea #eaeaea #1e73be;
}
.call-to-action-button {
  background-color: #1e73be;
}
#content .comments-area a.comment-permalink:hover {
  color: #1e73be;
}
.comments-area .comment-author-link a:hover {
  color: #1e73be;
}
.comments-area .comment-author-link span {
  background-color: #1e73be;
}
.comment .comment-reply-link:hover {
  color: #1e73be;
}
.nav-previous a:hover,
.nav-next a:hover {
  color: #1e73be;
}
#wp-calendar #today {
  color: #1e73be;
}
.widget-title span {
  border-bottom: 2px solid #1e73be;
}
.footer-widgets-area a:hover {
  color: #1e73be !important;
}
.footer-socket-wrapper .copyright a:hover {
  color: #1e73be;
}
a#back-top:before {
  background-color: #1e73be;
}
.read-more,
.more-link {
  color: #1e73be;
}
.post .entry-title a:hover,
.page .entry-title a:hover {
  color: #1e73be;
}
.post .entry-meta .read-more-link {
  background-color: #1e73be;
}
.post .entry-meta a:hover,
.type-page .entry-meta a:hover {
  color: #1e73be;
}
.single #content .tags a:hover {
  color: #1e73be;
}
.widget_testimonial .testimonial-icon:before {
  color: #1e73be;
}
a#scroll-up {
  background-color: #1e73be;
}
#search-form span {
  background-color: #1e73be;
}

.github-card {
  background-color: #fff;
  margin: 10px 0px;
  color: #7d7d7d;
  border: thin solid #e4e4e4;
  min-width: 250px;
  border-radius: 0.5em;
  padding: 0.5em;
  display: inline-block;
  box-shadow: 2px 3px rgba(228, 228, 228, 0.7);
}

.github-card .label {
  color: #7d7d7d;
}

.github-card .button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 4px 1.5em;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #a6a6a6;
  border-radius: 20em;
  background-color: #f2f1eb;
  background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.github-card .header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

.github-card .header .handle {
  font-size: smaller;
}

.github-card .header .name {
  color: #000;
  font-weight: bold;
}

.github-card .header .avatar {
  flex-shrink: 0;
  margin-right: 0.5em;
}

.github-card .header .avatar img {
  width: 46px;
  height: 46px;
  max-width: none;
  flex-shrink: 0;
  border-radius: 100%;
}

.github-card .header .button {
  margin: 0 0 0 auto;
  font-size: small;
  padding: 0.5em;
  font-weight: normal;
}

.repository-card .button {
  display: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.clear-both {
  clear: both;
}

.journal-title {
  font-weight: inherit;
  font-style: italic;
}

.image-box {
  width: 310px;
}

.bold {
  font-weight: bold;
}
