{{ $header_img := .Scratch.Get "header_img" }}

{{ if .IsPage }}
<style type="text/css">
  header.intro-header {
    position: relative;
    background-image: url('{{ with $header_img }}{{- . -}}{{ end }}');
  }
</style>
{{ if $header_img }}
<header class="intro-header ">
  <div class="dark-filter">
{{ else }}
<header class="intro-header style-text">
  <div>
{{ end }}
  <div class="header-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <div class="tags">
            {{ range (.GetTerms "tags") }}
            <a class="tag" href="{{ .Page.RelPermalink }}" title="{{ .LinkTitle}}">{{ .LinkTitle }}</a>
            {{ end }}
          </div>
          <h1>{{ .Title }}</h1>
          <h2 class="subheading">{{ $.Params.subtitle }}</h2>
          <div style="margin-bottom:10px;">
            <span class="meta">
              {{ if isset .Params "series" }}
              {{ $term := index .Params.series 0 }}
              
              {{ $series := index site.Taxonomies.series ($term | urlize) }}
            
              {{ if $series }}
  
                  Part of the <a style="color:#337ab7;" href="{{ (printf "series/%s" $term | urlize) | relURL }}">{{ $term }}</a> series
  
    
              {{ end }}
            {{ end }}

            </span>

          </div>
          <span class="meta">
            {{ .Date.Format "Mon, Jan 2, 2006" }}
          </span>
        
        </div>
      </div>
    </div>
  </div>
</div>
</header>
{{ else }}
{{ with $header_img }}
<header class="intro-header" style="background-image: url('{{- . -}}')">
  <div class="dark-filter">
{{ else}}
<header class="intro-header style-text">
  <div>
{{ end }}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ if eq (.Param "short") true }}
        <div class="site-heading" id="tag-heading">
        {{ else }}
        <div class="site-heading">
        {{ end }}
          <h1>{{ with .Title }}{{ . | humanize }}{{ else }}{{ .Site.Title }}{{ end }}</h1>
          {{ $description := .Description }}
          {{ if .IsHome }}
          {{ $description = .Site.Params.description }}
          <span class="subheading" style="font-weight:bold;font-size: 22px;">{{ $description }}</span>
          {{else}}
          <span class="subheading">{{ $description }}</span>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
</header>
{{ end }}